doctype html
html
  head
    meta(
      name="viewport",
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
    title= title
    link(rel="stylesheet", 
         href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"
    )
    link(rel="stylesheet",
         href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css"
    )
    link(rel="stylesheet",
         href="https://fonts.googleapis.com/css?family=Lobster|Rubik+Mono+One" 
    )
  body(style='background-image:url(https://www.toptal.com/designers/subtlepatterns/patterns/ep_naturalblack.png)')
    div#root
    script(src='/build/bundle.js')